html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.section.newsletter {
  overflow-y: scroll;

  h2 {
    text-align: center;
    margin: 2rem 0;
  }

  .empty-newsletter {
    text-align: center;
    margin: auto;
    color: #696969;
    width: 50%;

    &.hidden {
      display: none;
    }
  }

  .container {
    margin: 2rem auto;
    width: 80%;

    &.hidden {
      display: none;
    }

    .row {
      display: flex;
      justify-content: space-around;
    }
    .field-list {
      text-align: center;
    }
  }

  ul {
    list-style-type: none;
  }

  li:last-child .item-separator {
    display: none;
  }

  li {
    margin: 0.5rem auto;

    div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    input {
      border: none;
      margin: 1rem;

      &.has-border {
        border: 1px solid #60cc00;
      }
    }

    .item-separator {
      display: block;
      width: 90%;
      background: #f7f7f7;
      height: 0.2rem;
      margin: 2.5rem 0;
    }

    button {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #e6e6e6;
      transition: all 0.5s linear;

      &.hidden {
        display: none;
      }

      &:hover {
        color: white;
      }

      &.edit-button {
        background: #60cc00;
        &:hover {
          background: #58b903;
        }
      }

      &.delete-button {
        background: #f30d0d;

        &:hover {
          background: #c50a0a;
        }
      }

      &.reset-button {
        background: #ffc525;

        &:hover {
          background: #e4af1f;
        }
      }
    }
  }
}
