@import "./normalize.css";
@import "./skeleton.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #60cc00;
  color: white;
  padding: 0 1.5rem;

  .logo {
    height: 75px;
  }
}

.section.hero {
  margin: 7rem 0;

  a {
    width: 100%;
  }

  img {
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  }
}

.section.hero .section.hero img,
section.about img {
  border-radius: 2rem;
}

section.about {
  background: #60cc00;
  color: #f7f7f7;
  border-radius: 2rem;
  padding: 1.5rem;
  margin: 7rem 0;

  h2 {
    text-align: center;
  }

  img {
    margin: 1rem 0;
  }
}

footer {
  margin-top: 2rem;
  padding: 1.5rem;
  background: rgb(56, 56, 56);
  color: #f7f7f7;
}
